
<section>
    <div><a href="https://editorathoth.com.br/produto/heranca-digital-no-brasil-aportes-preliminares/483"><img src="../../assets/livro.png" alt="Livro"></a></div>
    <div><a href="https://www.youtube.com/channel/UChe_XYN7lCop9T1qVSXSsvQ"><img src="../../assets/youtube.png" alt="Youtube"></a></div>
    <div><a href="https://www.instagram.com/fabiulamarine/"><img src="../../assets/instagram.png" alt="Instagram"></a></div>
    <div><a href="https://www.linkedin.com/in/fabiola-marine-pontes-de-andrade-6a411b191/"><img src="../../assets/linkedin.png" alt="LinkedIn"></a></div>
</section>
