<section>
  <h2>Contato</h2>
  <div>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div>
        <label
          [ngClass]="{
            red:
              name.classList.contains('ng-invalid') &&
              name.classList.contains('ng-touched')
          }"
          for="name"
          >Nome</label
        >
        <input type="text" id="name" formControlName="name" #name />
      </div>
      <div>
        <label for="subject">Assunto</label>
        <input type="text" id="subject" formControlName="subject" />
      </div>
      <div id="opt">
        <div>
          <input
            type="radio"
            id="optEmail"
            name="optEmailPhone"
            value="optEmail"
            formControlName="optEmailPhone"
            (click)="changeRequiredValidators('email')"
          />
          <label for="optEmail">Email</label>
        </div>
        <div>
          <input
            type="radio"
            id="optPhone"
            name="optEmailPhone"
            value="optPhone"
            formControlName="optEmailPhone"
            (click)="changeRequiredValidators('phone')"
          />
          <label for="optPhone">Telefone</label>
        </div>
        <div>
          <input
            type="radio"
            id="optEmailPhone"
            name="optEmailPhone"
            value="email and phone"
            formControlName="optEmailPhone"
            (click)="changeRequiredValidators('email and phone')"
          />
          <label for="optEmailPhone">Email e Telefone</label>
        </div>
      </div>
      <div *ngIf="emailPhone === 'email and phone' || emailPhone === 'email'">
        <label
          [ngClass]="{
            red:
              email.classList.contains('ng-invalid') &&
              email.classList.contains('ng-touched')
          }"
          for="email"
          >Email</label
        >
        <input
          type="email"
          name="email"
          id="email"
          formControlName="email"
          #email
        />
      </div>
      <div *ngIf="emailPhone === 'email and phone' || emailPhone === 'phone'">
        <label
          [ngClass]="{
            red:
              phone.classList.contains('ng-invalid') &&
              phone.classList.contains('ng-touched')
          }"
          for="phone"
          >Telefone(com DDD)
        </label>
        <input
          type="tel"
          id="phone"
          formControlName="phone"
          #phone
          placeholder="Ex. 11995451254 ou 1134564521"
          value="{{ phone.value | phoneFormat }}"
          maxlength="15"
        />
      </div>
      <div>
        <label for="Description">Descrição</label>
        <textarea id="Description" formControlName="description"></textarea>
      </div>
      <button type="submit">Enviar</button>
    </form>
  </div>

  <a href="https://api.whatsapp.com/send?phone=5511997203674&text=Ol%C3%A1">
    <div id="whatsapp">
      <img src="../../assets/whatsapp.png" alt="" />
    </div>
  </a>
</section>
