<section>
  <h2>Contato</h2>
  <div>
    <form action="#">
      <div>
        <label for="subject">Assunto</label>
        <input type="text" id="subject" />
      </div>
      <div>
        <label for="email">email</label>
        <input type="email" name="email" id="email" />
      </div>
      <div>
        <label for="phone">Telefone(opcional)</label>
        <input type="text" id="phone" />
      </div>
      <div>
        <label for="Description">Descrição</label>
        <textarea id="Description"></textarea>
      </div>
      <button type="submit">Enviar</button>
    </form>
  </div>

  <a href="#">
    <div id="whatsapp">
      <img src="../../assets/whatsapp.png" alt="" />
    </div>
  </a>
</section>
