@import "/src/variables.scss";

header {
  position: fixed;
  width: 60vw;
  top: 0;
  left: 0;
  @media screen {
    @media (min-width: 420px) {
      width: 100vw;
      position: relative;
    }
  }
  //   transition: ;
  nav {
    position: relative;
    display: flex;
    flex-direction: column;

    @media screen {
      @media (min-width: 420px) {
        flex-direction: row;
      }
    }
    div.imgbox {
      border-top-right-radius: 0.5rem;
      cursor: pointer;
      min-width: 77.2333px;
      @media screen {
        @media (min-width: 420px) {
          height: auto;
        }
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 5vh;
      background-color: $primary-color;
      padding: 2vw;
      font-size: 1.3rem;

      border-bottom-right-radius: 0.5rem;
      @media screen {
        @media (min-width: 420px) {
          border-radius: 0;
          flex-direction: row;
          width: auto;
          flex-grow: 1;
          font-size: 0.8rem;
          gap: 0;
          max-width: 100vw;
          box-sizing: border-box;
          align-items: center;
          justify-content: space-between;
          padding: 0 2vw;
          li {
            text-align: center;
            min-height: min-content;
            padding: 2vw 0;
            flex-grow: 1;
          }
          li:hover {
            cursor: pointer;
            a {
              text-decoration: underline;
            }
            opacity: 0.5;
          }
        }
        @media (min-width: 520px) {
          font-size: 1rem;
        }
        @media (min-width: 768px) {
          font-size: 1.5rem;
        }
      }
    }
    ul.hidden {
      transform: translateX(-60vw);
      @media screen {
        @media (min-width: 420px) {
          transform: none;
        }
      }
    }

    // li{
    //     width: 100%;
    // }

    div.icon {
      position: absolute;
      bottom: calc(50% - 0.85rem);
      left: calc(100% - 0.85rem);
      background-color: $dark-gray-color;
      color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.7rem;
      height: 1.7rem;
      transition: transform ease-in-out 0.5s;
      @media screen {
        @media (min-width: 420px) {
          display: none;
        }
      }
      mat-icon {
        font-size: 1.5rem;
      }
    }
    div.icon.menuHidden {
      transform: translateX(0.85rem);
      transition: transform ease-in-out 0.5s;
      @media screen {
        @media (min-width: 420px) {
          transform: none;
        }
      }
    }
  }
}
header.show {
  transition: transform ease-in-out 0.5s;
}
header.hidden {
  transform: translate(-60vw);
  transition: transform ease-in-out 0.5s;
  @media screen {
    @media (min-width: 420px) {
      transform: none;
    }
  }
}

section.principal {
  width: 100vw;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  @media (min-width: 420px) {
    padding: 0 5vw;
  }
  div.container {
    width: 100%;
    @media (min-width: 420px) {
      width: 90vw;
    }
  }
}

footer {
  .bottom {
    width: 100vw;
    text-align: center;
    position: absolute;
    bottom: 0;
  }
}
