<header [ngClass]="isMenuHidden ? 'hidden' : 'show'">
  <nav #menu>
    <div (click)="changeMenuHiddenStatus()" routerLink="/" class="imgbox">
      <img src="/../../assets/{{ logo }}.png" alt="Logo" />
    </div>
    <ul>
      <li>
        <a (click)="changeMenuHiddenStatus()" routerLink="/A-Advogada"
          >A Advogada</a
        >
      </li>
      <li>
        <a (click)="changeMenuHiddenStatus()" routerLink="/Area-de-atuacao"
          >Areas de Atuação</a
        >
      </li>
      <li>
        <a (click)="changeMenuHiddenStatus()" routerLink="/Artigos">Artigos</a>
      </li>
      <li>
        <a (click)="changeMenuHiddenStatus()" routerLink="/Contato"
          >Agendamento de Consulta</a
        >
      </li>
      <li>
        <a (click)="changeMenuHiddenStatus()" routerLink="/Redes-Sociais"
          >Me Acompanhe</a
        >
      </li>
    </ul>
    <!-- botão abrir/fechar menu (mobile) -->
    <div
      [ngClass]="isMenuHidden ? 'menuHidden' : 'menusShowing'"
      class="icon"
      (click)="changeMenuHiddenStatus()"
    >
      <mat-icon
        *ngIf="isMenuHidden"
        aria-hidden="false"
        aria-label="expand menu"
        >keyboard_arrow_right</mat-icon
      >
      <mat-icon *ngIf="!isMenuHidden" aria-hidden="false" aria-label="hide menu"
        >keyboard_arrow_left</mat-icon
      >
    </div>
    <!-- Sombreamento do menu -->
  </nav>
  <div [ngClass]="isMenuHidden ? '' : 'shadow-menu-open'" (click)="closeMenu()">
    
  </div>
</header>
<!-- Conteúdo das Páginas  -->
<section class="principal" (click)="closeMenu()">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>

<footer (click)="closeMenu()">
  <div  class="bottom">&#169; 2022 Copyright: Fabiola Marine Advocacia</div>
  <div class="bottom">Avenida Paulista, 1636 - conjunto 4, 15 andar - Cerqueira César, São Paulo SP -
    CEP 01310-200</div>
</footer>
