@import "/src/variables.scss";
body {
  display: flex;
}

header {
  position: fixed;
  width: 60vw;
  top: 0;
  left: 0;
  z-index: 10;
  @media screen {
    @media (min-width: 440px) {
      width: 100vw;
      position: relative;
    }
  }
  nav {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;

    @media screen {
      @media (min-width: 440px) {
        flex-direction: row;
      }
    }
    div.imgbox {
      border-top-right-radius: 0.5rem;
      cursor: pointer;
      min-width: 91.6033px;
      @media screen {
        @media (min-width: 440px) {
          height: auto;
        }
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 5vh;
      background-color: $primary-color;
      padding: 2vw;
      font-size: 1.3rem;

      border-bottom-right-radius: 0.5rem;
      @media screen {
        @media (min-width: 440px) {
          border-radius: 0;
          flex-direction: row;
          width: auto;
          flex-grow: 1;
          font-size: 0.7rem;
          gap: 2vw;
          max-width: 100vw;
          box-sizing: border-box;
          align-items: center;
          justify-content: space-between;
          padding: 0 2vw;
          li {
            text-align: center;
            min-height: min-content;
            padding: 2vw 0;
            flex-grow: 1;
          }
          li:hover {
            cursor: pointer;
            a {
              text-decoration: underline;
            }
            opacity: 0.5;
          }
          li.disabled{
            opacity: 0.5;
            cursor: not-allowed;
            a:hover{
                text-decoration: none;
            }
          }
          li:hover.disabled{
            a{
              text-decoration: none;
            }
          }
        }
        @media (min-width: 520px) {
          font-size: 0.9rem;
        }
        @media (min-width: 768px) {
          font-size: 1.4rem;
        }
      }
    }
    ul.hidden {
      transform: translateX(-60vw);
      @media screen {
        @media (min-width: 440px) {
          transform: none;
        }
      }
    }


    div.icon {
      position: absolute;
      bottom: calc(50% - 0.85rem);
      left: calc(100% - 0.85rem);
      background-color: $dark-gray-color;
      color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.7rem;
      height: 1.7rem;
      transition: transform ease-in-out 0.5s;
      z-index: 10;
      @media screen {
        @media (min-width: 440px) {
          display: none;
        }
      }
      mat-icon {
        font-size: 1.5rem;
      }
    }
    div.icon.menuHidden {
      transform: translateX(0.85rem);
      transition: transform ease-in-out 0.5s;
      @media screen {
        @media (min-width: 440px) {
          transform: none;
        }
      }
    }
  }
  
  // sombreamento do menu
  div.shadow-menu-open {
      position: fixed;
      top: 0;
      left: 0;
      width: 200vw;
      height: 100vh;
      opacity: 0.3;
      background-color: black;
      transition: background-color 0.5s linear;
      @media screen {
        @media (min-width: 440px) {
          display: none;
        }
      }
    }
  }
  header.show {
    transition: transform ease-in-out 0.5s;
  }
  header.hidden {
    transform: translate(-60vw);
    transition: transform ease-in-out 0.5s;
    @media screen {
      @media (min-width: 440px) {
        transform: none;
      }
    }
  }

section.principal {
  width: 100vw;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-grow: 1;
  @media (min-width: 440px) {
    margin: 5vh 0;
    padding: 0 5vw;
    justify-content: space-around;
  }
  div.container {
    width: 100%;

    @media (min-width: 440px) {
      width: 90vw;
    }
  }
}

footer {
  .bottom {
    width: 100vw;
    text-align: center;
    background-color: #e2e2e2;
  }
}
