<!-- <section>
  <ul>
    <li *ngFor="let post of posts">
      <a>
        <h1>{{ post.title }}</h1>
        <img src="{{ post.banner }}" alt="Banner" />
        <p>{{ post.summary }}</p>
      </a>
    </li>
  </ul>
  <div>
    <p>&nbsp;</p>
    <div class="separator" style="clear: both; text-align: center">
      <a
        href="https://lh3.googleusercontent.com/-OfkTN0W6uRk/YYaYohjN0dI/AAAAAAAAC0U/tODBWESdGRIzSFk9D4UJj8m-KGdrqRa6QCLcBGAsYHQ/ROTINA%2BDE%2BUMA%2BESTUDANTE%2BDE%2BDIREITO%2B40.png"
        style="margin-left: 1em; margin-right: 1em"
      >
        <img
          alt=""
          data-original-height="720"
          data-original-width="1280"
          height="360"
          src="https://lh3.googleusercontent.com/-OfkTN0W6uRk/YYaYohjN0dI/AAAAAAAAC0U/tODBWESdGRIzSFk9D4UJj8m-KGdrqRa6QCLcBGAsYHQ/w640-h360/ROTINA%2BDE%2BUMA%2BESTUDANTE%2BDE%2BDIREITO%2B40.png"
          width="640"
        />
      </a>
    </div>
    <span>
      <a name="more"></a>
    </span>
    <div class="separator" style="clear: both; text-align: center">
      Olá, estudantes desse meu Brasil!&nbsp;
    </div>
    <div class="separator" style="clear: both; text-align: center"><br /></div>
    <div class="separator" style="clear: both; text-align: center">
      Chegamos na última temporada do quadro Rotina de uma Estudante de Direito,
      iniciando o décimo semestre do curso.&nbsp;
    </div>
    <div class="separator" style="clear: both; text-align: center">
      Nesse vídeo mostrei um pouco da minha rotina antes do início das aulas,
      focando no TCC, Iniciação Científica e Estágio na Defensoria
      Pública.&nbsp;
    </div>
    <div class="separator" style="clear: both; text-align: center"><br /></div>
    <div class="separator" style="clear: both; text-align: center">
      Vem acompanhar:
    </div>
    <div class="separator" style="clear: both; text-align: center">
      <br /><iframe
        allowfullscreen=""
        class="BLOG_video_class"
        height="266"
        src="https://www.youtube.com/embed/RBTR6c40hUY"
        width="320"
        youtube-src-id="RBTR6c40hUY"
      ></iframe>
    </div>
    <div class="separator" style="clear: both; text-align: center"><br /></div>
    <div class="separator" style="clear: both; text-align: center">
      E aí, gostaram?&nbsp;
    </div>
    <div class="separator" style="clear: both; text-align: center">
      Me contem o que querem ver nos próximos REDS.&nbsp;
    </div>
    <div class="separator" style="clear: both; text-align: center"><br /></div>
    <div class="separator" style="clear: both; text-align: center">
      <div class="separator" style="clear: both; text-align: center">
        <a
          href="https://lh3.googleusercontent.com/-6lmbj_OgAnk/YYaaKyp8vgI/AAAAAAAAC0g/T20gEUkTagIqhHKzHmvtemSaPwwVKorWwCLcBGAsYHQ/Super%2BBeijo%2BFah.jpg"
          style="margin-left: 1em; margin-right: 1em"
          ><img
            alt=""
            data-original-height="161"
            data-original-width="199"
            height="89"
            src="https://lh3.googleusercontent.com/-6lmbj_OgAnk/YYaaKyp8vgI/AAAAAAAAC0g/T20gEUkTagIqhHKzHmvtemSaPwwVKorWwCLcBGAsYHQ/w110-h89/Super%2BBeijo%2BFah.jpg"
            width="110"
        /></a>
      </div>
    </div>
    <p></p>
  </div>
</section> -->
