.container {
  h1 {
    text-align: center;
  }
  .content {
    p {
      padding: 2vw;
    }
  }
}

.container {
  @media screen {
    @media (min-width: 440px) {
      h1 {
        font-size: 2rem;
      }

      @media (min-width: 768px) {
        h1 {
          font-size: 3rem;
        }
      }
      .content {
        font-size: 1.5rem;
        line-height: 2rem;

        .imgbox {
          width: 50vw;
          height: fit-content;
          float: left;
          margin: 0 1vw 1vw 0;
        }
        p {
          padding: 0;
        }
      }
    }
  }
}
