<div class="container">
  <h1>A Advogada</h1>
  <section class="content">
    <div class="imgbox">
      <img src="../../assets/Advogada3.png" alt="A advogada" />
    </div>
    <p>
      Advogada inscrita na Ordem dos Advogados do Brasil com atuação em São
      Paulo sob o nº 463.560. Formada pela Universidade Paulista, hoje, atuo nas
      áreas de Direito Digital e Cível.
    </p>
    <p>
      Desde criança me identifiquei com a profissão, apesar de não ter nenhum
      familiar na área. Enquanto outras crianças brincavam de boneca, carrinho e
      futebol, eu gostava de encenar os tribunais baseados nos filmes americanos
      que assistia. Por isso não foi surpresa a escolha pelo Direito, onde me
      apaixonei pelos ensinamentos e pelo estudo.
    </p>
    <p>
      O tempo na universidade foi muito bem aproveitado, convivi com excelentes
      profissionais, os quais me ensinaram e me inspiraram. Tive a oportunidade
      de fazer uma iniciação científica na qual me aprofundei no tema das
      Migrações Ambientais e suas consequências jurídicas e sociais. E escrevi
      meu TCC, no qual defendi a tese da viabilidade jurídica da Herança
      Digital, sob uma mirada humanística. Ele baseou meu primeiro livro
      publicado. O qual pode ser adquirido tanto no site da editora
      <a href="https://editorathoth.com.br/produto/heranca-digital-no-brasil-aportes-preliminares/483">Thoth</a> como na
      <a
        href="https://www.amazon.com.br/HERAN%C3%87A-DIGITAL-BRASIL-APORTES-PRELIMINARES-ebook/dp/B09SBG2V6C/ref=sr_1_11?qid=1647112921&refinements=p_27%3AFab%C3%ADola+Andrade&s=books&sr=1-11"
        >Amazon</a
      >.
    </p>
    <p>Procuro basear minhas escolhas profissionais e pessoais nos ensinamentos como o acima de Roosevel, com uma visão humanista para que o Direito possa encontrar a Justiça.</p>
  </section>
</div>
