/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Montserrat", sans-serif;
}
:root {
  font-size: 16px;
}
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
